Web/appsettings.[Dd]evelopment.json
*.env
.envrc
.git
.dockerignore
.gitignore
.vs
.vscode
*/bin
*/obj
obj
.idea
/cypress/node_modules/
Dockerfile
docker-compose*.yml
README.md
.dockerignore
dist/
.git/
.github/
web/media/*